.hpcontainer {
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: monospace;
  font-size: 60px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.hpbackground-color{
  -webkit-animation: color-change 3s infinite;
  -moz-animation: color-change 3s infinite;
  -o-animation: color-change 3s infinite;
  -ms-animation: color-change 3s infinite;
  animation: color-change 3s infinite;
}

@-webkit-keyframes color-change {
  0% { color: rgb(17, 0, 255); }
  30% { color: rgb(218, 78, 36); }
  70% { color: rgb(219, 37, 219); }
  100% { color: rgb(29, 124, 231); }
}
@-moz-keyframes color-change {
  0% { color: rgb(17, 0, 255); }
  30% { color: rgb(218, 78, 36); }
  70% { color: rgb(219, 37, 219); }
  100% { color: rgb(29, 124, 231); }
}
@-ms-keyframes color-change {
  0% { color: rgb(17, 0, 255); }
  30% { color: rgb(218, 78, 36); }
  70% { color: rgb(219, 37, 219); }
  100% { color: rgb(29, 124, 231); }
}
@-o-keyframes color-change {
  0% { color: rgb(17, 0, 255); }
  30% { color: rgb(218, 78, 36); }
  70% { color: rgb(219, 37, 219); }
  100% { color: rgb(29, 124, 231); }
}
@keyframes color-change {
  0% { color: rgb(17, 0, 255); }
  30% { color: rgb(218, 78, 36); }
  70% { color: rgb(219, 37, 219); }
  100% { color: rgb(29, 124, 231); }
}